
<!-- COMIENZO ION CONTENT-->
<ion-content class="background no-scroll">

  <div class="padding-top">

        <ion-card class="ancho cajita inicio">

          <ion-card-content class="ion-text-center">
            <!-- LOGO -->
            <img class="padding-boton" src="assets/logo.png" alt="">
            <p class="login"><b>Bienvenido a tu app de registro de asistencia.</b></p>
            
            <!-- BOTONES -->
              <div class="padding-boton">

                <ion-button class="botonesinicio" [routerLink]="['/sesion-alumno']">
                  Iniciar sesion
                </ion-button>
              
                <ion-button class="botonesiniciosinfondo" fill="outline"  [routerLink]="['/regalumno']">
                  Registrarse
                </ion-button>

              </div>

              <div>
                <img src="assets/divider.png" alt="">
                <p class="login"> o inicia sesión con: </p>
                <img class="centrado" src="assets/google.png" alt="">
              </div>
          </ion-card-content>

        </ion-card>

  </div>
</ion-content>


