<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  
          defaultHref="/"
          text=""
          color="duoc"
          mode="ios">
     </ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background no-scroll">

  <div>

        <ion-card class="ancho cajita inicio">

          <ion-card-content class="ion-text-center">
            <!-- LOGO -->

            <!-- BOTONES -->
              <div>

              <h2 class="padding">ASISTENCIA</h2>

              <img class="padding"src="assets/divider.png" alt="">

              <ion-item class="fondo" lines="none">
                <ion-grid >
                  <ion-row class="ion-aling-items-center">

                    <ion-col >
                      <ion-label class="smalltext">MARTES 6 DE ABRIL</ion-label>
                      <ion-label class="smalltext" color="success">PRESENTE</ion-label>
                      
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item class="fondo" lines="none">
                <ion-grid >
                  <ion-row class="ion-aling-items-center">

                    <ion-col >
                      <ion-label class="smalltext">MIERCOLES 7 DE ABRIL</ion-label>
                      <ion-label class="smalltext" color="success">PRESENTE</ion-label>
                      
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item class="fondo" lines="none">
                <ion-grid >
                  <ion-row class="ion-aling-items-center">

                    <ion-col >
                      <ion-label class="smalltext">JUEVES 8 DE ABRIL</ion-label>
                      <ion-label class="smalltext" color="success">PRESENTE</ion-label>
                      
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item class="fondo" lines="none">
                <ion-grid >
                  <ion-row class="ion-aling-items-center">

                    <ion-col >
                      <ion-label class="smalltext">VIERNES 9 DE ABRIL</ion-label>
                      <ion-label class="smalltext" color="danger">AUSENTE</ion-label>
                      
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              </div>

          </ion-card-content>

        </ion-card>
  </div>
</ion-content>
